<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div id="tabs" fxLayout="row">
          <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
              <mat-tab label="Inputs">
                <div fxLayout="column" fxLayoutGap="15px">
                  <div fxLayout="row" fxLayoutGap="10px">
                      <rlr-rule [rule]="part?.rowTypeName"></rlr-rule>
                      <!--<rlr-rule [rule]="part?.rowQty"></rlr-rule>-->
                      <rlr-rule [rule]="part?.bayQty"></rlr-rule>
                      <rlr-rule [rule]="part?.overallLength"></rlr-rule>
                      <rlr-rule [rule]="part?.overallDepth"></rlr-rule>
                      <rlr-rule [rule]="part?.overallHeight"></rlr-rule>
                      <!-- <rlr-rule [rule]="part?.rowWeldHours"></rlr-rule>
                      <rlr-rule [rule]="part?.rowCost"></rlr-rule>
                      <rlr-rule [rule]="part?.rowMargin"></rlr-rule>
                      <rlr-rule [rule]="part?.rowPrice"></rlr-rule> -->
                  </div>
                  <div fxLayout="row" fxLayoutGap="10px">
                    <rlr-rule [rule]="part?.endAisleGuardLocations"></rlr-rule>
                    <rlr-rule *ngIf="!part?.endAisleGuardLevels.readOnly" [rule]="part?.endAisleGuardChannelSize"></rlr-rule>
                    <rlr-rule *ngIf="!part?.endAisleGuardLevels.readOnly" [rule]="part?.endAisleGuardLevels"></rlr-rule>
                </div>
                </div>
              </mat-tab>
              <mat-tab label="Frames">
                <div fxLayout="column">
                  <div fxLayout="column">
                    <div class="frame" fxLayout="row" *ngFor="let frame of frames" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxFlex="85px">
                          <span class="mat-subheading-2">{{ frame.displayName }}</span>
                        </div>
                        <div fxLayout="column" fxFlex>
                          <div fxLayout="row" fxLayoutGap="10px">
                            <rlr-rule [rule]="frame?.frameName"></rlr-rule>
                            <rlr-rule [rule]="frame?.overallDepth"></rlr-rule>
                            <rlr-rule [rule]="frame?.overallHeight"></rlr-rule>
                            <rlr-rule [rule]="frame?.overallWidth"></rlr-rule>
                            <!--<rlr-rule [rule]="frame?.isDoubleDeep"></rlr-rule>
                            <rlr-rule *ngIf="frame?.isDoubleDeep.value == true" [rule]="frame?.doubleDeepType"></rlr-rule>-->
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Bays">
                  <div fxLayout="column">
                    <div fxLayout="column">
                      <div class="bay" fxLayout="row" *ngFor="let bay of bays" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                          <div fxLayout="row" fxFlex="85px">
                            <span class="mat-subheading-2">Row Bay {{ bay.bayIndex.value }}</span>
                          </div>
                          <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="bay?.bayName"></rlr-rule>
                              <rlr-rule [rule]="bay?.overallWidth"></rlr-rule>
                              <rlr-rule [rule]="bay?.overallDepth"></rlr-rule>
                              <rlr-rule [rule]="bay?.overallHeight"></rlr-rule>
                              <rlr-rule [rule]="bay?.isDoubleDeep"></rlr-rule>
                              <rlr-rule *ngIf="bay?.isDoubleDeep.value == true" [rule]="bay?.doubleDeepType"></rlr-rule>
                            </div>
                          </div>
                        </div>
                  </div>
                  </div>
                </mat-tab>
                <mat-tab label="EAGs" *ngIf="!part?.endAisleGuardLevel1HeightAboveGround.readOnly">
                  <div fxLayout="column" fxLayoutGap="15px">
                    <rlr-rule *ngIf="!part?.endAisleGuardLevel4HeightAboveGround.readOnly" [rule]="part?.endAisleGuardLevel4HeightAboveGround"></rlr-rule>
                    <rlr-rule *ngIf="!part?.endAisleGuardLevel3HeightAboveGround.readOnly" [rule]="part?.endAisleGuardLevel3HeightAboveGround"></rlr-rule>
                    <rlr-rule *ngIf="!part?.endAisleGuardLevel2HeightAboveGround.readOnly" [rule]="part?.endAisleGuardLevel2HeightAboveGround"></rlr-rule>
                    <rlr-rule *ngIf="!part?.endAisleGuardLevel1HeightAboveGround.readOnly" [rule]="part?.endAisleGuardLevel1HeightAboveGround"></rlr-rule>

                    <div fxLayout="row" fxLayoutGap="10px">

                    </div>
                  </div>
                </mat-tab>
          </mat-tab-group>
      </div>
      <div fxLayout="row" *ngIf="!readOnly">
        <button mat-raised-button *ngIf="part?.isAdhoc" (click)="copy()">Copy</button>
      </div>
  </div>
</div>
