<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div id="tabs" fxLayout="row">
          <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
              <mat-tab label="Inputs">
                <div fxLayout="column">
                    <div fxLayout="row wrap">
                        <rlr-rule *ngFor="let rule of part.rules; trackBy: trackRule" [rule]="rule"></rlr-rule>
                      </div>
                </div>
            </mat-tab>
          </mat-tab-group>
      </div>
      <div fxLayout="row" *ngIf="!readOnly">
          <button mat-raised-button *ngIf="part?.isAdhoc" (click)="copy()">Copy</button>
        </div>
  </div>
</div>
