<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row">
        <rlr-rule [rule]="part?.elevationQty"></rlr-rule>
    </div>
    <div fxLayout="row" *ngFor="let elevation of elevations" fxFlex="30px" fxLayoutGap="10px" >
      <rlr-rule [rule]="elevation?.elevationName"></rlr-rule>
      <rlr-rule [rule]="elevation?.includeInDrawing"></rlr-rule>
    </div>
  </div>
</div>
