<rlr-line-item-nav [project]="project" [lineItems]="lineItems"></rlr-line-item-nav>

<div id="project-content" fxLayout="column" *ngIf="project">
  <form [formGroup]="form" class="input-section" fxLayout="column" fxFlex="800px">
    <mat-tab-group fxFlex="100" animationDuration="200ms">
      <mat-tab label="Project Details">
        <div class="input-tab" fxLayout="column" fxLayoutGap="15px">
          <div class="lineItemBtns" fxFlex="20px" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="10px" *ngIf="!readOnly">
            <button mat-raised-button *ngFor="let type of lineItemTypes" color="primary" (click)="addComponent(type)" >{{getButtonName(type)}}</button>
          </div>
          <h4>Project</h4>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput formControlName="drawingNumber" placeholder="Estimate/Project #">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="name" placeholder="Description">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="advancedProjectManagerName" placeholder="Project Manager Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput value="{{project?.createdDateTime  | date:'short'}}" placeholder="Created Date" disabled>
            </mat-form-field>
          </div>
          <h4>Seismic Engineering</h4>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput formControlName="seismicEngName" placeholder="Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="seismicEngAddress" placeholder="Address">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="seismicEngCity" placeholder="City">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="seismicEngState" placeholder="State">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="seismicEngZip" placeholder="ZIP">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput formControlName="seismicEngContactName" placeholder="Contact Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="seismicEngContactPhone" placeholder="Contact Phone">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="seismicEngContactEmail" placeholder="Contact Email">
            </mat-form-field>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Sales Info">
        <div class="input-tab" fxLayout="column" fxLayoutGap="15px">
          <h4>Sales Contact</h4>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput formControlName="advancedSalesName" placeholder="Contact Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="advancedSalesContactPhone" placeholder="Contact Phone">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="advancedSalesContactEmail" placeholder="Contact Email">
            </mat-form-field>
          </div>
          <h4>Customer</h4>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput formControlName="csiCustomerNumber" placeholder="CSI Customer Number" >
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="customerName" placeholder="Name" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="customerAddress" placeholder="Address" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="customerCity" placeholder="City" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="customerState" placeholder="State" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="customerZip" placeholder="ZIP" [readonly]="true">
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutGap="10px" fxLayout="row">
            <mat-form-field>
              <input matInput formControlName="customerContactName" placeholder="Contact Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="customerContactPhone" placeholder="Contact Phone">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="customerContactEmail" placeholder="Contact Email">
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutGap="10px" fxLayout="row">
            <mat-form-field>
              <input matInput formControlName="customerComments" placeholder="Customer Comments">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="leadTime" placeholder="Lead Time">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="terms" placeholder="Terms">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="steelSurcharge" placeholder="Steel Surcharge" [readOnly]="true">
            </mat-form-field>
          </div>
          <h4>Ship To</h4>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <mat-select #s formControlName="shipToCustomerSeq" placeholder="Ship To Seq"
                  [disabled]="readOnly" (selectionChange)="handleShipToSeqChange($event)" >
                <mat-option *ngFor="let s of shipToSequences" [value]="s">
                  {{s}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="jobsiteName" placeholder="Name" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="jobsiteAddress" placeholder="Address" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="jobsiteCity" placeholder="City" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="jobsiteState" placeholder="State" [readonly]="true">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="jobsiteZip" placeholder="ZIP" [readonly]="true">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput formControlName="jobsiteContactName" placeholder="Contact Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="jobsiteContactPhone" placeholder="Contact Phone">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="jobsiteContactEmail" placeholder="Contact Email">
            </mat-form-field>
          </div>
          <mat-divider ></mat-divider>
          <div fxFlex fxLayout="row">
            <h4 class="marginTitle" fxLayoutAlign="start center" >Payment Milestones</h4>
          </div>
          <div fxFlex fxLayout="row"  fxLayoutGap="15px">
            <div formArrayName="paymentMilestones" fxLayout="column" fxFlex="100">
                <div *ngFor="let item of paymentMilestones.controls; let i = index" fxLayout="row"  fxLayoutGap="10px" fxFlex>
                  <mat-form-field [formGroupName]="i" fxFlex>
                    <input matInput currencyMask formControlName="downPayment" placeholder="Down Payment"
                    [options]="{align:'left', prefix:'', suffix:'%'}">
                  </mat-form-field>
                  <mat-form-field [formGroupName]="i" fxFlex>
                    <input matInput currencyMask formControlName="delivery" placeholder="Delivery"
                    [options]="{align:'left', prefix:'', suffix:'%'}">
                  </mat-form-field>
                  <mat-form-field [formGroupName]="i" fxFlex>
                    <input matInput currencyMask formControlName="comissioned" placeholder="Comissioned"
                    [options]="{align:'left', prefix:'', suffix:'%'}">
                  </mat-form-field>
                  <mat-form-field [formGroupName]="i" fxFlex="50">
                    <input matInput  formControlName="notes" placeholder="Notes">
                  </mat-form-field>
                  <button mat-menu-item (click)="deletePaymentMilestone(i)" fxFlex>
                    <mat-icon> delete </mat-icon>
                  </button>
                </div>
              </div>
          </div>
          <div fxFlex fxLayout="row">
            <button mat-raised-button color="primary" (click)="addPaymentMilestone()" >Add Milestone</button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Margins">
        <project-margins></project-margins>
      </mat-tab>

      <mat-tab label="Item Summary">

        <div fxLayout="column" id="bom-summary" fxFlex fxLayoutGap="5px">

          <div fxLayout="row" fxLayoutGap="5px" *ngFor="let cost of costSummaries" >

              <mat-form-field fxFlex id="bom-input">
                  <input matInput placeholder="Name" value="{{cost.name}}" disabled>
              </mat-form-field>
              <mat-form-field fxFlex id="bom-input">
                  <input matInput placeholder="Description" value="{{cost.description}}" disabled>
              </mat-form-field>
              <mat-form-field fxFlex id="bom-input">
                <input matInput placeholder="Quantity" value="{{cost.qty}}" disabled>
            </mat-form-field>
            <mat-form-field fxFlex id="bom-input">
              <input matInput placeholder="Weld Hours" value="{{getExtraDataValue(cost.extraData, 'weldHours', '0') | number:'1.0-4'}}" disabled>
          </mat-form-field>
              <mat-form-field fxFlex id="bom-input">
                  <input matInput placeholder="Unit Cost" value="{{cost.cost | currency:'USD':'symbol'}}" disabled>
              </mat-form-field>
              <mat-form-field fxFlex id="bom-input">
                <input matInput placeholder="Ext Cost" value="{{cost.cost * cost.qty | currency:'USD':'symbol'}}" disabled>
            </mat-form-field>
              <mat-form-field fxFlex id="bom-input">
                  <input matInput placeholder="Margin" value="{{cost.margin}}" disabled>
              </mat-form-field>
              <mat-form-field fxFlex id="bom-input">
                <input matInput placeholder="Price" value="{{getPrice(cost.cost, cost.margin) | currency:'USD':'symbol'}}" disabled>
            </mat-form-field>
            <mat-checkbox matInput [checked]="cost.include" [ngModel]="cost.include" [ngModelOptions]="{standalone: true}" (change)="updateBomInclusion(cost, $event.checked)" >Include?</mat-checkbox>

          </div>
      </div>

      </mat-tab>

      <mat-tab label="Status">
        <div class="input-tab" fxLayout="column" fxLayoutGap="10px">
          <div fxFlex fxLayoutGap="10px" fxLayout="row">
            <mat-form-field>
              <mat-select #s formControlName="jobStatus" placeholder="Job Status"
              [disabled]="readOnly" (selectionChange)="handleStatusChange($event)" >
              <mat-option *ngFor="let s of statuses" [value]="s">
                {{s}}
              </mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field >
              <input matInput type="number" formControlName="winPercentage" placeholder="Win Percentage" min="0" max="100" >
              <span matSuffix>%</span>
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutGap="10px" fxLayout="row">
            <mat-form-field>
              <input matInput [matDatepicker]="closePicker" formControlName="expectedCloseDate"
                placeholder="Expected Close Date">
              <mat-datepicker-toggle matSuffix [for]="closePicker"></mat-datepicker-toggle>
              <mat-datepicker #closePicker ngDefaultControl ></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="expectedShipDate"
                placeholder="Expected Ship Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ngDefaultControl ></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Outputs">
        <rlr-project-outputs fxFlex="17" [project]="project"></rlr-project-outputs>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
