<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div class="childBtns" fxLayout="row" fxLayoutGap="25px" >
        <div fxLayout="col" fxFlex fxLayoutGap="10px">
          <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" [disabled]="addChildBtnDisabled(childType.code)" (click)="addChild(childType.code)">{{childType.name}}</button>
        </div>
      </div>
      <div id="tabs" fxLayout="row">
          <mat-tab-group class="tab-custom-overflow" fxFlex="100" (selectChange)='onSelectChange($event)' animationDuration="0ms">
              <mat-tab label="System">
                <div fxLayout="column" fxLayoutGap="15px">
                  <div fxLayout="row" fxLayoutGap="10px">
                      <rlr-rule [rule]="part?.rowQty"></rlr-rule>
                      <rlr-rule [rule]="part?.elevationQty"></rlr-rule>
                      <rlr-rule [rule]="part?.bayQty"></rlr-rule>
                      <rlr-rule [rule]="part?.frameLineQty"></rlr-rule>
                      <rlr-rule [rule]="part?.productQty"></rlr-rule>
                      <rlr-rule [rule]="part?.color"></rlr-rule>
                  </div>
                  <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxLayoutAlign="start end">
                      <input matInput #i placeholder="Name" [ngModel]="part?.storageSystemName.value"
                        (ngModelChange)="setNameValue(part?.storageSystemName, $event, i)"
                        [ngModelOptions]="{ updateOn: 'blur' }" [disabled]="readOnly">
                    </mat-form-field>
                    <rlr-rule [rule]="part?.bom.plantCode"></rlr-rule>
                    <!--<rlr-rule [rule]="part?.steelOverhead"></rlr-rule>-->
                    <rlr-rule [rule]="part?.steelDiscount"></rlr-rule>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Rows">
                  <div fxLayout="column">
                    <div fxLayout="column">
                      <div class="row" fxLayout="row">
                        <rlr-rule [rule]="part?.rowQty"></rlr-rule>
                      </div>
                      <div class="row" fxLayout="row" *ngFor="let row of rows" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                          <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="row?.rowNumber"></rlr-rule>
                              <rlr-rule [rule]="row?.rowTypeName"></rlr-rule>
                              <rlr-rule [rule]="row?.includeInBOM"></rlr-rule>
                            </div>
                          </div>
                        </div>
                  </div>
                  </div>
                </mat-tab>
                <mat-tab label="BOM Summary">
                  <bom-summary [part]="part"></bom-summary>
                </mat-tab>
                <mat-tab label="Row BOM Summary">
                  <bom-summary [part]="part" [useRowBom]="true" ></bom-summary>
                </mat-tab>
                <mat-tab label="BOM Detail">
                  <bom-detail [part]="part"></bom-detail>
                </mat-tab>
                <mat-tab label="Margins">
                  <div fxLayout="column">
                    <div fxLayout="column">
                      <div class="row" fxLayout="row" fxLayoutGap="200px" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxFlex>
                          <div fxLayout="row" fxLayoutGap="10px">
                            <span fxLayoutAlign="start center" class="marginIDHeading">Item</span>
                            <span fxLayoutAlign="start center" class="marginIDHeading">Part Number</span>
                            <span fxLayoutAlign="start center" class="marginIDHeading">Description</span>
                            <span fxLayoutAlign="start center" class="marginIDHeading">Margin</span>
                          </div>
                        </div>
                      </div>
                      <mat-divider ></mat-divider>
                      <div class="row" fxLayout="row">
                        <div fxLayout="column" fxFlex>
                          <bom-editing-row [part]="part"></bom-editing-row>
                        </div>
                      </div>
                      <div class="row" fxLayout="row" *ngFor="let bChild of distinctBomChildren" fxLayoutGap="200px" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxFlex>
                          <bom-editing-row [part]="bChild" ></bom-editing-row>
                        </div>
                      </div>
                      <div fxLayout="col" fxFlex fxLayoutGap="10px">
                        <button fxFlex="17" mat-raised-button color="accent" (click)="setDefaultMargins()">Set Default Margins</button>
                      </div>
                    </div>
                  </div>
                </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</div>
