<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutGap="25px" >
      <div fxLayout="col" fxFlex fxLayoutGap="10px">
        <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
      </div>
    </div>
    <div id="tabs" fxLayout="row">
        <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
            <mat-tab label="Inputs">
              <div fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutGap="10px">
                  <rlr-rule [rule]="part?.frameTypeName"></rlr-rule>
                  <rlr-rule *ngIf="part?.isDoubleDeep.value == true" [rule]="part?.doubleDeepType"></rlr-rule>
                  <rlr-rule [rule]="part?.height" [step]="4"></rlr-rule>
                  <rlr-rule [rule]="part?.frontFrameDepthDisplay"></rlr-rule>
                  <rlr-rule [rule]="part?.color"></rlr-rule>
                  <rlr-rule *ngIf="part?.isDoubleDeep.value == true" [rule]="part?.rearFrameDepthDisplay"></rlr-rule>
                  <rlr-rule *ngIf="part?.isDoubleDeep.value == true" [rule]="part?.overallDepth"></rlr-rule>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                  <rlr-rule [rule]="part?.location"></rlr-rule>
                  <rlr-rule [rule]="part?.uprightColumnSize"></rlr-rule>
                  <rlr-rule [rule]="part?.footplateWidth"></rlr-rule>
                  <rlr-rule [rule]="part?.footplateThickness"></rlr-rule>
                  <rlr-rule [rule]="part?.defaultAnchorQtyPerFootplate"></rlr-rule>
                  <rlr-rule [rule]="part?.defaultAnchorSizePerFootplate"></rlr-rule>
                  <rlr-rule [rule]="part?.defaultAnchorTypePerFootplate"></rlr-rule>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                  <rlr-rule [rule]="part?.uprightType"></rlr-rule>
                  <rlr-rule *ngIf="part?.slanted.value" [rule]="part?.slantElev"></rlr-rule>
                  <rlr-rule *ngIf="part?.slanted.value" [rule]="part?.slantInset"></rlr-rule>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Frame Ties" *ngIf="part?.hasFrameTies.value == true">
              <div fxLayout="column">
                <div fxLayout="row" fxlayoutGap="10px">
                  <rlr-rule [rule]="part?.frameTieType"></rlr-rule>
                  <rlr-rule *ngIf="part?.isDoubleDeepPost.value !== true" [rule]="part?.frameTieQty"></rlr-rule>
                  <rlr-rule *ngIf="part?.isDoubleDeepPost.value !== true" [rule]="part?.frameTieLength"></rlr-rule>
                  <rlr-rule *ngIf="!part?.frameTieAngleType.readOnly" [rule]="part?.frameTieAngleType"></rlr-rule>
                  <rlr-rule *ngIf="!part?.frameTieBeamSize.readOnly" [rule]="part?.frameTieBeamSize"></rlr-rule>
                  <rlr-rule *ngIf="!part?.rubRailQty.readOnly" [rule]="part?.rubRailQty"></rlr-rule>
                </div>
                <div class="ties" fxLayout="row" *ngFor="let tie of frameTies" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxFlex="85px">
                    <span class="mat-subheading-2">{{ tie.displayName }}</span>
                  </div>
                  <div fxLayout="column" fxFlex>
                    <div fxLayout="row" fxLayoutGap="10px">
                      <rlr-rule [rule]="tie?.type"></rlr-rule>
                      <rlr-rule *ngIf="!tie?.angleType.readOnly" [rule]="tie?.angleType"></rlr-rule>
                      <rlr-rule *ngIf="!tie?.channelSize.readOnly" [rule]="tie?.channelSize"></rlr-rule>
                      <rlr-rule *ngIf="!tie?.attachmentLocation.readOnly" [rule]="tie?.attachmentLocation"></rlr-rule>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div fxLayout="row" *ngIf="!readOnly">
      <button mat-raised-button *ngIf="part?.isAdhoc" (click)="copy()">Copy</button>
    </div>
</div>
</div>
