#bom-summary {
  overflow-x: visible;
  height: 100%;
  width: 100%;
}

.header-row div {
  white-space: normal;
  font-weight: bold;
}

.header-row {
  z-index: 1000 !important;
  width:100vw;
  position: sticky  !important;
  top: -10px !important;
  bottom: 0px;
  background: white;
  //background: mat-color($shell-primary, 500);
}

bom-summary-view {
  //width: 1570px;
  max-height: calc(100% - 10px);
  overflow-y: auto;
  overflow-x: hidden;
}

bom-detail-view {
  //width: 1570px;
  max-height: calc(100% - 10px);
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin bom-column {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px grey solid;
  border-right: 1px grey solid;
  padding: 5px;
}

.bom-item {
  @include bom-column;
  border-left: 1px grey solid;
  min-width: 55px;
  max-width: 55px;
}

.bom-desc {
  @include bom-column;
  border-left: 1px grey solid;
  min-width: 345px;
  max-width: 345px;
  white-space: normal;
}

.bom-pn {
  @include bom-column;
  border-left: 1px grey solid;
  min-width: 210px;
  max-width: 210px;
}

.bom-material {
  @include bom-column;
  min-width: 110px;
  max-width: 110px;
  white-space: normal;
}

.bom-material-pn {
  @include bom-column;
  min-width: 100px;
  max-width: 100px;
}

.bom-qty {
  @include bom-column;
  min-width: 40px;
  max-width: 40px;
}

.bom-uom {
  @include bom-column;
  min-width: 50px;
  max-width: 50px;
}

.bom-material-cost {
  @include bom-column;
  min-width: 90px;
  max-width: 90px;
}

.bom-material-price {
  @include bom-column;
  min-width: 120px;
  max-width: 120px;
}

.bom-labor-hours {
  @include bom-column;
  min-width: 65px;
  max-width: 65px;
}

.bom-labor-cost {
  @include bom-column;
  min-width: 90px;
  max-width: 90px;
}

.bom-weight {
  @include bom-column;
  min-width: 80px;
  max-width: 80px;
}

.bom-cost-per-lb {
  @include bom-column;
  min-width: 60px;
  max-width: 60px;
}

.bom-margin {
  @include bom-column;
  min-width: 55px;
  max-width: 55px;
}

.bom-scrap {
  @include bom-column;
  min-width: 50px;
  max-width: 50px;
}

.bom-labor-price {
  @include bom-column;
  min-width: 90px;
  max-width: 90px;
}

.bom-total-cost {
  @include bom-column;
  min-width: 100px;
  max-width: 100px;
}

.bom-total-price {
  @include bom-column;
  min-width: 100px;
  max-width: 100px;
}

