
@import '~@angular/material/theming';
@import '~@ruler/material/theming';

@include mat-core();

$ruler-primary-map: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #79af1c,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$ruler-shell-map: (
  50: #d8d8d8,
  100: #0067b1,
  200: #757575,
  300: #757575,
  400: #757575,
  500: #FAFAFA,
  600: #757575,
  700: #757575,
  800: #757575,
  900: #757575,
  A100: #848484,
  A200: #848484,
  A400: #848484,
  A700: #848484,
  contrast: (
    50: white,
    100: white,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #0067b1,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

/* First theme will be what is used for most components throughout the application.
  Another theme will be created below that is used for header/footer/nav components, so that the colors
  can stay consistent with the colors originally used in the application.
  Ideally, we'll consolidate these themes at some point.
*/
$primary: mat-palette($ruler-primary-map);
$accent:  mat-palette($mat-red);
$warn:    mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

  /* Shell theme */
$shell-primary: mat-palette($ruler-shell-map);
$shell-accent:  mat-palette($mat-red);
$shell-warn:    mat-palette($mat-red);
$shell-theme: mat-light-theme($shell-primary, $shell-accent, $shell-warn);
@include ruler-material-shell-theme($shell-theme);

.shell-theme {
  @include angular-material-theme($shell-theme);
}

cost-summary,
advance-part-children-nav {
  background-color: mat-color($shell-primary, lighter);
  color: mat-color($primary, darker-contrast);

  span, mat-icon {
    color: mat-color($primary, darker-contrast);
  }
}

.mat-tab-label {
  color: black;
  font-weight: bolder;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  background-color: mat-color($shell-primary, 50);
  color: black;
  font-weight: bolder;
}

//required to allow tab content to lock/become sticky
.tab-custom-overflow .mat-tab-body-wrapper {
  overflow: visible !important;
}
//required to allow tab content to lock/become sticky
.tab-custom-overflow .mat-tab-body-active {
  overflow: visible !important;
}
//required to allow tab content to lock/become sticky
.tab-custom-overflow .mat-tab-body-content {
  overflow: visible !important;
}

