.level {
  padding-left: 20px;
  padding-right: 20px;
}

.level:nth-child(even) {
    background: rgba(2, 88, 150, .05);
}

.liftOffError {
  //color:red !important;
  font-weight: bolder;
  background-color: red !important;
}

.liftOffWarn {
  //color:yellow !important;
  font-weight: bolder;
  background-color: yellow !important;
}
