<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div id="tabs" fxLayout="row">
          <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
              <mat-tab label="Inputs">
                <div fxLayout="column" fxLayoutGap="15px">
                  <div fxLayout="row" fxLayoutGap="10px">
                      <rlr-rule [rule]="part?.bayName"></rlr-rule>
                      <rlr-rule [rule]="part?.bayDrawingNumber"></rlr-rule>
                      <rlr-rule [rule]="part?.levelQty"></rlr-rule>
                      <rlr-rule [rule]="part?.loadsWide"></rlr-rule>
                      <rlr-rule [rule]="part?.showProducts"></rlr-rule>
                  </div>
                  <div fxLayout="row" fxLayoutGap="10px">
                    <rlr-rule [rule]="part?.bayHeight"></rlr-rule>
                    <rlr-rule [rule]="part?.bayWidth"></rlr-rule>
                    <rlr-rule [rule]="part?.bayDepth"></rlr-rule>
                    <rlr-rule [rule]="part?.frontFrameDepth"></rlr-rule>
                    <rlr-rule *ngIf="part?.isDoubleDeep.value == true" [rule]="part?.rearFrameDepth"></rlr-rule>
                    <rlr-rule *ngIf="part?.isDoubleDeep.value == true && part?.isDoubleDeepPost.value !== true" [rule]="part?.frameTieLength"></rlr-rule>
                </div>
                  <div fxLayout="row" fxLayoutGap="10px">
                    <rlr-rule [rule]="part?.isDoubleDeep"></rlr-rule>
                    <rlr-rule *ngIf="part?.isDoubleDeep.value == true" [rule]="part?.doubleDeepType"></rlr-rule>
                    <rlr-rule [rule]="part?.color"></rlr-rule>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Levels">
                  <div fxLayout="column">
                    <div fxLayout="column">
                      <!--<span class="mat-title">Upright</span>-->
                      <div class="level" fxLayout="row" *ngFor="let level of levels" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                          <div fxLayout="row" fxFlex="85px">
                            <span class="mat-subheading-2">{{ level.displayName }}</span>
                          </div>
                          <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="level?.elevation"></rlr-rule>
                              <mat-form-field appearance="standard" >
                                <mat-label >Lift Off</mat-label>
                                <input *ngIf="level?.liftOff.value >= 6" matInput [ngModel]="level?.liftOff.value" readonly>
                                <input *ngIf="level?.liftOff.value < 6 && level?.liftOff.value >= 4" class="liftOffWarn" matInput [ngModel]="level?.liftOff.value" readonly>
                                <input *ngIf="level?.liftOff.value < 4" class="liftOffError" matInput [ngModel]="level?.liftOff.value" readonly>
                              </mat-form-field>
                              <rlr-rule [rule]="level?.productName"></rlr-rule>
                              <rlr-rule [rule]="level?.bayWidth"></rlr-rule>
                              <rlr-rule [rule]="level?.loadToFrameOffset"></rlr-rule>
                              <rlr-rule [rule]="level?.loadToLoadOffset"></rlr-rule>
                              <rlr-rule [rule]="level?.frontProductOverhang"></rlr-rule>
                              <rlr-rule [rule]="level?.rearProductOverhang"></rlr-rule>
                            </div>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="level?.palletSupportQtyPerLoad"></rlr-rule>
                              <rlr-rule [rule]="level?.palletSupportType"></rlr-rule>
                              <rlr-rule [rule]="level?.angleType"></rlr-rule>
                              <rlr-rule [rule]="level?.palletSupportColor"></rlr-rule>
                              <rlr-rule *ngIf="level?.isDoubleDeep.value && !level?.includeInternalPalletSupports.readOnly" [rule]="level?.includeInternalPalletSupports"></rlr-rule>
                            </div>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="level?.palletStopQtyPerPalletPosition"></rlr-rule>
                              <rlr-rule *ngIf="level?.palletStopQtyPerPalletPosition.value > 0" [rule]="level?.palletStopStyle"></rlr-rule>
                              <rlr-rule *ngIf="level?.palletStopQtyPerPalletPosition.value > 0" [rule]="level?.palletStopWidth"></rlr-rule>
                              <rlr-rule *ngIf="level?.palletStopQtyPerPalletPosition.value > 0" [rule]="level?.palletStopOffset"></rlr-rule>
                              <rlr-rule *ngIf="!level?.palletStopColor.readOnly" [rule]="level?.palletStopColor"></rlr-rule>
                            </div>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="level?.frontBeamSize"></rlr-rule>
                              <rlr-rule [rule]="level?.frontBeamWeldDown"></rlr-rule>
                              <rlr-rule [rule]="level?.frontBeamBracketType"></rlr-rule>
                              <rlr-rule [rule]="level?.frontBeamOrientation"></rlr-rule>
                              <rlr-rule [rule]="level?.frontBeamColor"></rlr-rule>
                              <rlr-rule [rule]="level?.frontBeamHoleType"></rlr-rule>
                              <rlr-rule [rule]="level?.frontBeamBoltType"></rlr-rule>
                              <rlr-rule [rule]="level?.frontBeamHardwareSize"></rlr-rule>
                            </div>
                            <div fxLayout="row" *ngIf="level?.isDoubleDeep.value" fxLayoutGap="10px">
                              <rlr-rule [rule]="level?.frontInteriorBeamSize"></rlr-rule>
                              <rlr-rule [rule]="level?.frontInteriorBeamWeldDown"></rlr-rule>
                              <rlr-rule [rule]="level?.frontInteriorBeamBracketType"></rlr-rule>
                              <rlr-rule [rule]="level?.frontInteriorBeamOrientation"></rlr-rule>
                              <rlr-rule [rule]="level?.frontInteriorBeamColor"></rlr-rule>
                              <rlr-rule [rule]="level?.frontInteriorBeamHoleType"></rlr-rule>
                              <rlr-rule [rule]="level?.frontInteriorBeamBoltType"></rlr-rule>
                              <rlr-rule [rule]="level?.frontInteriorBeamHardwareSize"></rlr-rule>
                            </div>
                            <div fxLayout="row" *ngIf="!level?.isDoubleDeepPost.value && level?.isDoubleDeep.value" fxLayoutGap="10px">
                              <rlr-rule [rule]="level?.rearInteriorBeamSize"></rlr-rule>
                              <rlr-rule [rule]="level?.rearInteriorBeamWeldDown"></rlr-rule>
                              <rlr-rule [rule]="level?.rearInteriorBeamBracketType"></rlr-rule>
                              <rlr-rule [rule]="level?.rearInteriorBeamOrientation"></rlr-rule>
                              <rlr-rule [rule]="level?.rearInteriorBeamColor"></rlr-rule>
                              <rlr-rule [rule]="level?.rearInteriorBeamHoleType"></rlr-rule>
                              <rlr-rule [rule]="level?.rearInteriorBeamBoltType"></rlr-rule>
                              <rlr-rule [rule]="level?.rearInteriorBeamHardwareSize"></rlr-rule>
                            </div>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="level?.rearBeamSize"></rlr-rule>
                              <rlr-rule [rule]="level?.rearBeamWeldDown"></rlr-rule>
                              <rlr-rule [rule]="level?.rearBeamBracketType"></rlr-rule>
                              <rlr-rule [rule]="level?.rearBeamOrientation"></rlr-rule>
                              <rlr-rule [rule]="level?.rearBeamColor"></rlr-rule>
                              <rlr-rule [rule]="level?.rearBeamHoleType"></rlr-rule>
                              <rlr-rule [rule]="level?.rearBeamBoltType"></rlr-rule>
                              <rlr-rule [rule]="level?.rearBeamHardwareSize"></rlr-rule>
                            </div>

                          </div>
                        </div>
                  </div>
                  </div>
                </mat-tab>
          </mat-tab-group>
      </div>
      <div fxLayout="row" *ngIf="!readOnly">
        <button mat-raised-button *ngIf="part?.isAdhoc" (click)="copy()">Copy</button>
      </div>
  </div>
</div>
