<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div id="tabs" fxLayout="row">
          <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
              <mat-tab label="Inputs">
                <div fxLayout="column">
                  <h4>Part</h4>
                  <div class="ruleRow" fxLayout="row">
                    <rlr-rule [rule]="part?.partNumber"></rlr-rule>
                    <rlr-rule [rule]="part?.bom?.qty"></rlr-rule>
                    <rlr-rule [rule]="part?.description"></rlr-rule>
                    <rlr-rule [rule]="part?.bom?.item"></rlr-rule>
                    <rlr-rule [rule]="part?.bom?.itemQty"></rlr-rule>
                  </div>

                  <h4>Purchased</h4>
                  <div class="ruleRow" fxLayout="row">
                    <rlr-rule [rule]="part?.bom?.itemWeight"></rlr-rule>
                    <rlr-rule [rule]="part?.bom?.itemPurchasedCost"></rlr-rule>
                  </div>

                  <h4>Cost</h4>
                  <!--<div class="ruleRow" fxLayout="row" >
                    <rlr-rule [rule]="part?.bom?.lockedPrice"></rlr-rule>
                    <rlr-rule [rule]="part?.bom?.itemMarginPercent"></rlr-rule>
                  </div>
                  <div class="ruleRow" fxLayout="row">
                    <rlr-rule [rule]="part?.bom?.margin"></rlr-rule>
                  </div>-->
                  <div class="ruleRow" fxLayout="row">
                    <rlr-rule [rule]="part?.bom?.unitCost"></rlr-rule>
                    <rlr-rule [rule]="part?.bom?.totalCost"></rlr-rule>
                  </div>
                  <div class="ruleRow" fxLayout="row">
                    <rlr-rule [rule]="part?.bom?.unitPrice"></rlr-rule>
                    <rlr-rule [rule]="part?.bom?.totalPrice"></rlr-rule>
                  </div>
                </div>
            </mat-tab>
          </mat-tab-group>
      </div>
      <div fxLayout="row" *ngIf="!readOnly">
          <button mat-raised-button *ngIf="part?.isAdhoc" (click)="copy()">Copy</button>
        </div>
  </div>
</div>
