<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div fxLayout="row">
        <rlr-rule [rule]="part?.productQty"></rlr-rule>
      </div>
      <div fxLayout="column">
          <span class="mat-title">Products</span>
          <div class="prod" fxLayout="row" *ngFor="let prod of product" fxLayoutGap="50px" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxFlex="50px">
              <span class="mat-subheading-2">{{ prod.displayName }}</span>
            </div>
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="10px">
                <rlr-rule [rule]="prod?.productName"></rlr-rule>
                <rlr-rule [rule]="prod?.liftOff"></rlr-rule>
                <rlr-rule [rule]="prod?.loadWidth"></rlr-rule>
                <rlr-rule [rule]="prod?.loadHeight"></rlr-rule>
                <rlr-rule [rule]="prod?.loadDepth"></rlr-rule>
                <rlr-rule [rule]="prod?.palletType"></rlr-rule>
                <rlr-rule [rule]="prod?.palletWidth"></rlr-rule>
                <rlr-rule [rule]="prod?.palletHeight"></rlr-rule>
                <rlr-rule [rule]="prod?.palletDepth"></rlr-rule>
                <rlr-rule [rule]="prod?.weight"></rlr-rule>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
