<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div id="tabs" fxLayout="row">
          <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
              <mat-tab label="Inputs">
                <div fxLayout="column">
                    <!--<div fxLayout="row wrap">
                        <rlr-rule *ngFor="let rule of part.rules; trackBy: trackRule" [rule]="rule"></rlr-rule>
                      </div>-->
                      <div fxLayout="row">
                        <rlr-rule [rule]="part?.type"></rlr-rule>
                        <rlr-rule [rule]="part?.qty"></rlr-rule>
                        <rlr-rule [rule]="part?.endAisleGuardChannelSize"></rlr-rule>
                        <rlr-rule [rule]="part?.spaceQty"></rlr-rule>
                      </div>
                      <div fxLayout="row wrap">
                        <rlr-rule *ngIf="!part?.post1Orientation.readOnly" [rule]="part?.post1Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space1.readOnly" [rule]="part?.space1"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post2Orientation.readOnly" [rule]="part?.post2Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space2.readOnly" [rule]="part?.space2"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post3Orientation.readOnly" [rule]="part?.post3Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space3.readOnly" [rule]="part?.space3"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post4Orientation.readOnly" [rule]="part?.post4Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space4.readOnly" [rule]="part?.space4"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post5Orientation.readOnly" [rule]="part?.post5Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space5.readOnly" [rule]="part?.space5"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post6Orientation.readOnly" [rule]="part?.post6Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space6.readOnly" [rule]="part?.space6"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post7Orientation.readOnly" [rule]="part?.post7Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space7.readOnly" [rule]="part?.space7"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post8Orientation.readOnly" [rule]="part?.post8Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space8.readOnly" [rule]="part?.space8"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post9Orientation.readOnly" [rule]="part?.post9Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space9.readOnly" [rule]="part?.space9"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post10Orientation.readOnly" [rule]="part?.post10Orientation"></rlr-rule>
                        <rlr-rule *ngIf="!part?.space10.readOnly" [rule]="part?.space10"></rlr-rule>
                        <rlr-rule *ngIf="!part?.post11Orientation.readOnly" [rule]="part?.post11Orientation"></rlr-rule>
                      </div>
                </div>
            </mat-tab>
          </mat-tab-group>
      </div>
      <div fxLayout="row" *ngIf="!readOnly">
          <button mat-raised-button *ngIf="part?.isAdhoc" (click)="copy()">Copy</button>
        </div>
  </div>
</div>
