@import '~@ruler/material/variables';
@import '../../variables';

:host {
  overflow-y: auto;
  min-width: $left-nav-width;
  max-width: $left-nav-width;
}

.active-link {
  background-color: rgb(130, 179, 235);
}




