<mat-nav-list id="children-list" >
  <mat-list-item (click)="setNavigable('')" *ngIf="showBack">
    <span><mat-icon>keyboard_backspace</mat-icon></span>
  </mat-list-item>
  <mat-list-item *ngFor="let child of navigableChildren" [title]="child.displayName" routerLink="/project/{{part.lineItem.project.id}}/item/{{part.lineItem.id}}/part/{{child.path}}" routerLinkActive="active-link">
      <div mat-line>
        <span>{{ child.displayName }}</span>
      </div>

      <button mat-icon-button *ngIf="child.isAdhoc && !readOnly && !isUsed(child)" (click)="deletePart(child.path);$event.stopPropagation()">
        <mat-icon>delete</mat-icon>
      </button>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list id="children-list" *ngIf="groupNames.length > 0">
  <mat-list-item *ngFor="let name of groupNames" (click)="setNavigable(name)">
      <span >{{ pluralizeName(name) + ' (' + partTypeQty(name) + ')'}}</span>
  </mat-list-item>
</mat-nav-list>

<!-- *ngIf="navigableChildren.length > 0 && groupNames.length > 0" -->
