
.child-btns {
  margin-top: 10px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

.row:nth-child(even) {
    background: rgba(2, 88, 150, .05);
}

.mat-subheading-2 {
  width: 150px;
}

.rowIDHeading {
  width: 200px;
  padding-left: 50px;
}

.marginIDHeading {
  width: 300px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 8px;
}
