<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutGap="25px" >
      <div fxLayout="col" fxFlex fxLayoutGap="10px">
        <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
      </div>
    </div>
    <div id="tabs" fxLayout="row">
        <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
            <mat-tab label="Inputs">
              <div fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutGap="10px">
                  <rlr-rule [rule]="part?.frameName"></rlr-rule>
                  <rlr-rule [rule]="part?.isBackToBack"></rlr-rule>
                  <!--<rlr-rule [rule]="part?.isUsedInElevation"></rlr-rule>-->
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                  <rlr-rule [rule]="part?.frontFrameTypeName"></rlr-rule>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                  <rlr-rule *ngIf="part?.isBackToBack.value == true" [rule]="part?.space"></rlr-rule>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                  <rlr-rule *ngIf="part?.isBackToBack.value == true" [rule]="part?.rearFrameTypeName"></rlr-rule>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Frame Ties" *ngIf="part?.isBackToBack.value == true">
              <div fxLayout="column">
                <div fxLayout="row" fxlayoutGap="10px">
                  <rlr-rule [rule]="frameTiesSpace?.frameTieType"></rlr-rule>
                  <rlr-rule *ngIf="frameTiesSpace?.isDoubleDeepPost.value !== true" [rule]="frameTiesSpace?.frameTieQty"></rlr-rule>
                  <rlr-rule *ngIf="frameTiesSpace?.isDoubleDeepPost.value !== true" [rule]="frameTiesSpace?.frameTieLength"></rlr-rule>
                  <rlr-rule *ngIf="!frameTiesSpace?.frameTieAngleType.readOnly" [rule]="frameTiesSpace?.frameTieAngleType"></rlr-rule>
                  <rlr-rule *ngIf="!frameTiesSpace?.frameTieBeamSize.readOnly" [rule]="frameTiesSpace?.frameTieBeamSize"></rlr-rule>
                  <rlr-rule *ngIf="!frameTiesSpace?.rubRailQty.readOnly" [rule]="frameTiesSpace?.rubRailQty"></rlr-rule>
                </div>
                <div class="ties" fxLayout="row" *ngFor="let tie of frameTies" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxFlex="85px">
                    <span class="mat-subheading-2">{{ tie.displayName }}</span>
                  </div>
                  <div fxLayout="column" fxFlex>
                    <div fxLayout="row" fxLayoutGap="10px">
                      <rlr-rule [rule]="tie?.type"></rlr-rule>
                      <rlr-rule *ngIf="!tie?.angleType.readOnly" [rule]="tie?.angleType"></rlr-rule>
                      <rlr-rule *ngIf="!tie?.channelSize.readOnly" [rule]="tie?.channelSize"></rlr-rule>
                      <rlr-rule *ngIf="!tie?.attachmentLocation.readOnly" [rule]="tie?.attachmentLocation"></rlr-rule>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div fxLayout="row" *ngIf="!readOnly">
      <button mat-raised-button *ngIf="part?.isAdhoc" (click)="copy()">Copy</button>
    </div>
</div>
</div>
