<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutGap="25px" >
      <div fxLayout="col" fxFlex fxLayoutGap="10px">
        <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" [disabled]="addChildBtnDisabled(childType.code)" (click)="addChild(childType.code)">Row Type</button>
      </div>
    </div>
    <div fxLayout="row">
        <rlr-rule [rule]="part?.rowTypeQty"></rlr-rule>
    </div>
    <span class="mat-title">Row Types</span>
    <div fxLayout="row" *ngFor="let row of rowTypes" fxFlex="30px" fxLayoutGap="10px" >
      <rlr-rule [rule]="row?.rowTypeName"></rlr-rule>
      <rlr-rule [rule]="row?.bayQty"></rlr-rule>
      <rlr-rule [rule]="row?.overallWidth"></rlr-rule>
      <rlr-rule [rule]="row?.overallHeight"></rlr-rule>
      <rlr-rule [rule]="row?.overallDepth"></rlr-rule>
    </div>
  </div>
</div>
