@import '../../variables';

:host {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#project-content {
  padding: 10px 20px 10px 20px;
  width: 100%;
}

line-item-button {
  margin-right: 20px;
}

button {
  width: 150px;
  height: 40px;
}

.input-tab {
  margin-top: 6px;
  margin-bottom: 6px;
}

.lineItemBtns {
  margin-top: 12px;
  margin-bottom: 50px;
}

.marginTitle {
  width: 180px;
}

rlr-project-outputs {
  margin-top: 12px;
}

rlr-line-item-nav {
  min-width: $left-nav-width;
}

.input-section {
  margin-bottom: 10px;

  div {
    margin-left: 15px;
  }
}

mat-form-field {
  max-width: 150px;
}

#bom-summary {
  padding: 10px 20px 10px 20px;
  width: 90%;
}

#bom-input {
  padding: 10px 10px 10px 10px;
  max-width: 250px;
}

mat-checkbox{
  margin-top:20px;
  margin-left: 15px;
}

h4{
  margin-top: 5px;
  margin-bottom: 0px;
}

fieldset {
  margin:0;
  padding:0;
  border:0;
}
