<div id="project-content" fxLayout="column" *ngIf="project">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="input-section" fxLayout="column" fxFlex="800px">
    <div class="input-tab" fxLayout="column" fxLayoutGap="10px">
      <div fxFlex fxLayoutGap="10px" fxLayout="row">
        <h4 class="marginTitle" fxLayoutAlign="start center" >Manufactured Material</h4>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="mfdMaterialCost" placeholder="Cost" [readonly]="true" >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="mfdMaterialMarginPercent" placeholder="Margin %" [readonly]="true"
            [options]="{align:'left', prefix:'', suffix:'%'}">
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="mfdMaterialMargin" placeholder="Margin" [readonly]="true">
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="mfdMaterialCalcPrice" placeholder="Calculated Price" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="mfdMaterialAdjustment" placeholder="Adjustment" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="!this.form.controls.holdPrice?.value">
          <mat-form-field>
            <input matInput currencyMask formControlName="mfdMaterialPrice" placeholder="{{heldPriceLabel}}" [readOnly]="!this.form.controls.holdPrice?.value" >
          </mat-form-field>
        </fieldset>
        <mat-checkbox matInput formControlName="materialTaxed">Taxed</mat-checkbox>
      </div>
      <div fxFlex fxLayoutGap="10px" fxLayout="row">
        <h4 class="marginTitle" fxLayoutAlign="start center" >Buyout Material</h4>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="buyoutMaterialCost" placeholder="Cost" [readonly]="true" >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="buyoutMaterialMarginPercent" placeholder="Margin %" [readonly]="true"
            [options]="{align:'left', prefix:'', suffix:'%'}">
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="buyoutMaterialMargin" placeholder="Margin" [readonly]="true">
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="buyoutMaterialCalcPrice" placeholder="Calculated Price" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="buyoutMaterialAdjustment" placeholder="Adjustment" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="!this.form.controls.holdPrice?.value">
          <mat-form-field>
            <input matInput currencyMask formControlName="buyoutMaterialPrice" placeholder="{{heldPriceLabel}}" [readonly]="!this.form.controls.holdPrice?.value">
          </mat-form-field>
        </fieldset>
        <mat-checkbox matInput formControlName="materialTaxed">Taxed</mat-checkbox>
      </div>
      <div fxFlex fxLayoutGap="10px" fxLayout="row">
        <h4 class="marginTitle" fxLayoutAlign="start center" >Install</h4>
        <mat-form-field>
          <input matInput currencyMask formControlName="installCost" placeholder="Cost" >
        </mat-form-field>
        <mat-form-field>
          <input matInput currencyMask formControlName="installMarginPercent" placeholder="Margin %"
          [options]="{align:'left', prefix:'', suffix:'%'}">
        </mat-form-field>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="installMargin" placeholder="Margin" [readonly]="true">
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="installCalcPrice" placeholder="Calculated Price" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="installAdjustment" placeholder="Adjustment" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="!this.form.controls.holdPrice?.value">
          <mat-form-field>
            <input matInput currencyMask formControlName="installPrice" placeholder="{{heldPriceLabel}}" [readonly]="!this.form.controls.holdPrice?.value" >
          </mat-form-field>
        </fieldset>
        <mat-checkbox matInput formControlName="installTaxed">Taxed</mat-checkbox>
      </div>
      <div fxFlex fxLayoutGap="10px" fxLayout="row">
        <h4 class="marginTitle" fxLayoutAlign="start center" >Freight</h4>
        <mat-form-field>
          <input matInput currencyMask formControlName="freightCost" placeholder="Cost" >
        </mat-form-field>
        <mat-form-field>
          <input matInput currencyMask formControlName="freightMarginPercent" placeholder="Margin %"
          [options]="{align:'left', prefix:'', suffix:'%'}">
        </mat-form-field>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="freightMargin" placeholder="Margin" [readonly]="true">
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="freightCalcPrice" placeholder="Calculated Price" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="freightAdjustment" placeholder="Adjustment" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="!this.form.controls.holdPrice?.value">
          <mat-form-field>
            <input matInput currencyMask formControlName="freightPrice" placeholder="{{heldPriceLabel}}"  [readonly]="!this.form.controls.holdPrice?.value" >
          </mat-form-field>
        </fieldset>
        <mat-checkbox matInput formControlName="freightTaxed">Taxed</mat-checkbox>
      </div>
      <div fxFlex fxLayoutGap="10px" fxLayout="row">
        <h4 class="marginTitle" fxLayoutAlign="start center" >Engineering</h4>
        <mat-form-field>
          <input matInput currencyMask formControlName="engCost" placeholder="Cost" >
        </mat-form-field>
        <mat-form-field>
          <input matInput currencyMask formControlName="engMarginPercent" placeholder="Margin %"
          [options]="{align:'left', prefix:'', suffix:'%'}">
        </mat-form-field>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="engMargin" placeholder="Margin" [readonly]="true" >
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="engCalcPrice" placeholder="Calculated Price" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="engAdjustment" placeholder="Adjustment" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="!this.form.controls.holdPrice?.value">
          <mat-form-field>
            <input matInput currencyMask formControlName="engPrice" placeholder="{{heldPriceLabel}}" [readonly]="!this.form.controls.holdPrice?.value" >
          </mat-form-field>
        </fieldset>
        <mat-checkbox matInput formControlName="otherTaxed">Taxed</mat-checkbox>
      </div>
      <div fxFlex fxLayoutGap="10px" fxLayout="row">
        <h4 class="marginTitle" fxLayoutAlign="start center" >Other</h4>
        <mat-form-field>
          <input matInput currencyMask formControlName="otherCost" placeholder="Cost" >
        </mat-form-field>
        <mat-form-field>
          <input matInput currencyMask formControlName="otherMarginPercent" placeholder="Margin %"
          [options]="{align:'left', prefix:'', suffix:'%'}">
        </mat-form-field>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="otherMargin" placeholder="Margin" [readonly]="true">
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="otherCalcPrice" placeholder="Calculated Price" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="otherAdjustment" placeholder="Adjustment" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="!this.form.controls.holdPrice?.value">
          <mat-form-field>
            <input matInput currencyMask formControlName="otherPrice" placeholder="{{heldPriceLabel}}" [readonly]="!this.form.controls.holdPrice?.value" >
          </mat-form-field>
        </fieldset>
        <mat-checkbox matInput formControlName="otherTaxed">Taxed</mat-checkbox>
      </div>
      <mat-divider ></mat-divider>
      <mat-divider ></mat-divider>
      <div fxFlex fxLayoutGap="10px" fxLayout="row">
        <h4 class="marginTitle" fxLayoutAlign="start center" >Total</h4>
        <mat-form-field>
          <input matInput currencyMask formControlName="totalCost" placeholder="Cost" [readonly]="true" >
        </mat-form-field>
        <mat-form-field>
          <input matInput currencyMask formControlName="totalMarginPercent" placeholder="Margin %" [readonly]="true"
          [options]="{align:'left', prefix:'', suffix:'%'}">
        </mat-form-field>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="totalMargin" placeholder="Margin" [readonly]="true">
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="totalCalcPrice" placeholder="Calculated Price" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset *ngIf="this.form.controls.holdPrice?.value" [disabled]="true">
          <mat-form-field >
            <input matInput currencyMask formControlName="totalAdjustment" placeholder="Adjustment" [readonly]="true"  >
          </mat-form-field>
        </fieldset>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="totalPrice" placeholder="{{heldPriceLabel}}" [readonly]="true" >
          </mat-form-field>
        </fieldset>
        <mat-form-field>
          <input matInput currencyMask formControlName="taxRate" placeholder="Tax Rate"
          [options]="{align:'left', prefix:'', suffix:'%'}">
        </mat-form-field>
        <fieldset [disabled]="true">
          <mat-form-field>
            <input matInput currencyMask formControlName="totalWTaxes" placeholder="Total With Tax" [readonly]="true" >
          </mat-form-field>
        </fieldset>
      </div>

      <div fxFlex fxLayout="row">
        <button mat-raised-button color="primary" (click)="updateProjectMargins()" >Set Default Margins</button>
        <mat-checkbox matInput formControlName="holdPrice" (change)="onHoldPriceChange($event.checked)">HoldPrice</mat-checkbox>
      </div>
    </div>
  </form>
</div>
