@import '~@ruler/material/variables';
@import '../../variables';

:host {
  display: flex;
  flex-grow: 1;
}

#project-header {
  height: $toolbar-height;
}

#project-name {
  height: $toolbar-height;
  width: $left-nav-width;

  span {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: $toolbar-height;
    margin: 0;
  }
}

#project-actions {
  height: $toolbar-height;
  width: 470px;
}

rlr-breadcrumbs {
  flex-grow: 1
}

.mat-raised-button.mat-draft {
  background-color: grey;
  color: white;
}
