<div fxFlex fxLayout="column">
    <div id="project-header" class="rlr-subheader" fxLayout="row" fxLayoutAlign="space-between">
        <div id="project-name" fxLayoutAlign="start center">
            <span class="mat-title" title="{{project?.name}}">{{project?.name}}</span>
        </div>
        <rlr-breadcrumbs></rlr-breadcrumbs>
        <div id="project-actions" fxLayoutAlign="space-between center">
            <button fxFlex="20" mat-raised-button (click)="showDraftOutputs()" color="draft" [disabled]="!allowOutputs">
              DRAFT
            </button>
            <button fxFlex="20" mat-raised-button (click)="showQuoteOutputs()" color="primary" [disabled]="!allowOutputs">
              QUOTE
            </button>
            <button fxFlex="20" mat-raised-button (click)="submitOrder()" color="accent" [disabled]="!allowOutputs">
              ORDER
            </button>
            <button fxFlex="20" mat-raised-button (click)="showCADOutputs()" color="primary" [disabled]="!allowOutputs">
              OUTPUTS
            </button>
            <button mat-icon-button (click)="closeProject()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div fxFlex fxLayout="column">
        <router-outlet></router-outlet>
    </div>
</div>
