<div id="container" >
  <h1 mat-dialog-title>{{title}}</h1>

  <mat-dialog-content>
    <mat-checkbox [(ngModel)]="createQuoteForm" [disabled]="disableQuoteForm">
      Quote Form
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="createCustomerBOMSummary" [disabled]="disableCustomerBOMSummary">
      BOM Summary - Customer
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="createInternalBOMSummary" [disabled]="disableInternalBOMSummary">
      BOM Summary - Internal
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="createRowBOMSummary" [disabled]="disableInternalBOMSummary">
      Row BOM Summary
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="createBOMDetail" [disabled]="disableBOMDetail">
      BOM Detail
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="createElevations" [disabled]="disableElevations">
      Elevations (CAD)
    </mat-checkbox>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="this.downloadOutputs(); dialogRef.close()" [disabled]="!allowDownloadOutputs" >
      Download
    </button>
    <button mat-raised-button color="primary" (click)="this.queueOutputs(); dialogRef.close()" [disabled]="!createElevations" >
      Queue CAD
    </button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button mat-raised-button (click)="this.downloadOutputs(); this.queueOutputs(); dialogRef.close()" color="primary" [disabled]="!createElevations || !allowDownloadOutputs">
      Download & Queue CAD
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
