<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div id="tabs" fxLayout="row">
          <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
              <mat-tab label="Inputs">
                <div fxLayout="column">
                  <div fxLayout="row">
                    <rlr-rule [rule]="part?.uprightType"></rlr-rule>
                    <rlr-rule *ngIf="part?.slanted.value == true" [rule]="part?.slantElev"></rlr-rule>
                    <rlr-rule *ngIf="part?.slanted.value == true" [rule]="part?.slantInset"></rlr-rule>
                    <rlr-rule *ngIf="!part?.qty.readOnly" [rule]="part?.qty"></rlr-rule>
                    <rlr-rule *ngIf="!part?.qty.readOnly" [rule]="part?.color"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                    <rlr-rule [rule]="part?.location"></rlr-rule>
                    <rlr-rule [rule]="part?.height" [step]="4" required></rlr-rule>
                    <rlr-rule [rule]="part?.depth"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                    <rlr-rule [rule]="part?.uprightColumnSize"></rlr-rule>
                    <rlr-rule [rule]="part?.panelQty"></rlr-rule>
                    <rlr-rule [rule]="part?.footplateWidth"></rlr-rule>
                    <rlr-rule [rule]="part?.footplateThickness"></rlr-rule>
					<!--ACE IMPROVEMENT
					<rlr-rule [rule]="part?.holeStartPunch"></rlr-rule>-->
                  </div>
                  <div fxLayout="row">
                      <rlr-rule [rule]="part?.frontAnchorQty"></rlr-rule>
                      <rlr-rule [rule]="part?.frontAnchorSize"></rlr-rule>
                      <rlr-rule [rule]="part?.frontAnchorType"></rlr-rule>
                      <rlr-rule *ngIf="!part?.frontBullnoseAnchorType.readOnly" [rule]="part?.frontBullnoseAnchorType"></rlr-rule>
                      <rlr-rule [rule]="part?.frontPostProtector"></rlr-rule>
                      <rlr-rule *ngIf="part?.frontPostProtector.value !== 'none'" [rule]="part?.frontPostProtectorHeight"></rlr-rule>
                      <rlr-rule [rule]="part?.hasFrontDoubler"></rlr-rule>
                      <rlr-rule *ngIf="part?.hasFrontDoubler.value == true" [rule]="part?.frontDoublerHeight" [step]="4"></rlr-rule>
					  <rlr-rule [rule]="part?.frontFootPlateType"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                    <rlr-rule [rule]="part?.rearAnchorQty"></rlr-rule>
                    <rlr-rule [rule]="part?.rearAnchorSize"></rlr-rule>
                    <rlr-rule [rule]="part?.rearAnchorType"></rlr-rule>
                    <rlr-rule *ngIf="!part?.rearBullnoseAnchorType.readOnly" [rule]="part?.rearBullnoseAnchorType"></rlr-rule>
                    <rlr-rule [rule]="part?.rearPostProtector"></rlr-rule>
                    <rlr-rule *ngIf="part?.rearPostProtector.value !== 'none'" [rule]="part?.rearPostProtectorHeight"></rlr-rule>
                    <rlr-rule [rule]="part?.hasRearDoubler"></rlr-rule>
                    <rlr-rule *ngIf="part?.hasRearDoubler.value == true" [rule]="part?.rearDoublerHeight" [step]="4"></rlr-rule>
					<rlr-rule [rule]="part?.rearFootPlateType"></rlr-rule>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Panels">
                  <div fxLayout="column">
                    <div fxLayout="row">
                      <rlr-rule [rule]="part?.defaultHorizontalType"></rlr-rule>
                    </div>
                    <div fxLayout="column">
                        <span class="mat-title">Horizontal Braces</span>
                        <div class="brace" fxLayout="row" *ngFor="let brace of HorizontalBraces" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                          <div fxLayout="row" fxFlex="50px">
                            <span class="mat-subheading-2">{{ getBraceDisplayName(brace.displayName) }}</span>
                          </div>
                          <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="brace?.angleType"></rlr-rule>
                              <rlr-rule [rule]="brace?.panelHeight"></rlr-rule>
                              <rlr-rule [rule]="brace?.offsetFromBottom"></rlr-rule>
                            </div>
                          </div>
                        </div>
                        <div class="brace" fxLayout="row" *ngFor="let hBrace of HeavyHorizontalBraces" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                          <div fxLayout="row" fxFlex="50px">
                            <span class="mat-subheading-2">{{ getBraceDisplayName(hBrace.displayName) }}</span>
                          </div>
                          <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="hBrace?.channelSize"></rlr-rule>
                              <rlr-rule [rule]="hBrace?.panelHeight"></rlr-rule>
                              <rlr-rule [rule]="hBrace?.offsetFromBottom"></rlr-rule>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </mat-tab>
              <mat-tab label="Diagonals">
                <div fxLayout="column">
                  <div fxLayout="row">
                    <rlr-rule [rule]="part?.diagonalType"></rlr-rule>
                  </div>
                  <div fxLayout="column">
                      <span class="mat-title">Diagonal Braces</span>
                      <div class="brace" fxLayout="row" *ngFor="let brace of DiagonalBraces" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxFlex="50px">
                          <span class="mat-subheading-2">{{ brace.displayName }}</span>
                        </div>
                        <div fxLayout="column" fxFlex>
                          <div fxLayout="row" fxLayoutGap="10px">
                            <rlr-rule [rule]="brace?.angleType"></rlr-rule>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</div>
