<div fxFlex fxFlexFill>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="marginIDHeading">
      <mat-form-field appearance="standard" >
        <input matInput #b [ngModel]="part?.bOMItemNumber.value" (ngModelChange)="setBomItems($event, b)"
          [ngModelOptions]="{ updateOn: 'blur' }" [disabled]="isMajorItem(part)">
      </mat-form-field>
    </div>
    <span fxLayoutAlign="start center" class="marginIDHeading">{{ part?.partNumber?.value }}</span>
    <span fxLayoutAlign="start center" class="marginIDHeading" >{{ part?.bOMDataDescription?.value }}</span>
     <mat-form-field appearance="standard">
        <input currencyMask matInput #i [ngModel]="part?.bOMDataMargin.value | number:'1.2'" (ngModelChange)="setBomMargins($event, i)"
        [ngModelOptions]="{ updateOn: 'blur' }" [options]="{align:'left', prefix:'', suffix:'%'}">
      </mat-form-field>
  </div>
</div>
