<div fxLayout="column">
  <div fxLayout="row">
    <div class="bom-item" title="{{bomSummaryItem?.item}}">{{bomSummaryItem?.item}}</div>
    <div class="bom-pn" title="{{bomSummaryItem?.shortDescription}}">{{bomIndent +
          bomSummaryItem?.shortDescription}}</div>
      <div class="bom-desc" title="{{bomSummaryItem?.description}}">{{bomIndent + bomSummaryItem?.description}}</div>
      <div class="bom-material" title="{{bomSummaryItem?.materialPartNumber}}">{{bomSummaryItem?.materialPartNumber}}</div>
      <div class="bom-qty" title="{{bomSummaryItem?.qty}}">{{bomSummaryItem?.qty}}</div>
      <div class="bom-labor-hours" *ngFor="let category of laborCategories" title="{{getTotalLaborByCategory(bomSummaryItem, category) * bomSummaryItem?.qty }}">{{getTotalLaborByCategory(bomSummaryItem, category) * qtyFactor | number: '1.1-2'}}</div>
      <div class="bom-labor-hours" title="{{bomSummaryItem?.totalLaborHours}}">{{bomSummaryItem?.totalLaborHours | number: '1.1-2'}}</div>
      <div class="bom-labor-cost" title="{{bomSummaryItem?.totalLaborCost | currency:'USD':'symbol'}}">{{bomSummaryItem?.totalLaborCost | currency:'USD':'symbol'}}</div>
      <div class="bom-material-cost" title="{{bomSummaryItem?.unitCostNoLabor | currency:'USD':'symbol'}}">{{bomSummaryItem?.unitCostNoLabor
        | currency:'USD':'symbol'}}</div>
      <div class="bom-material-cost" title="{{bomSummaryItem?.totalCostNoLabor | currency:'USD':'symbol'}}">{{bomSummaryItem?.totalCostNoLabor
        | currency:'USD':'symbol'}}</div>

      <div class="bom-total-cost" title="{{bomSummaryItem?.totalCost}}">{{bomSummaryItem?.totalCost |
        currency:'USD':'symbol'}}</div>
      <div class="bom-margin" title="{{bomSummaryItem?.unitMargin}}">{{bomSummaryItem?.unitMargin| number: '1.1-3'}}%</div>
      <div class="bom-total-price" title="{{bomSummaryItem?.totalPrice | currency:'USD':'symbol'}}">{{bomSummaryItem?.totalPrice
          | currency:'USD':'symbol'}}</div>
  </div>
  <div *ngIf="showLabor">
      <div class="labor" fxLayout="row" *ngFor="let laborItem of bomSummaryItem?.labor" [ngClass]="{'red' : laborItem?.hours == 0 }">
          <div class="bom-item" title=""></div>
          <div class="bom-pn" title=""></div>
          <div class="bom-desc" title="{{laborItem?.name}}">{{bomIndent + laborItem?.name}}</div>
          <div class="bom-material"></div>
          <div class="bom-qty"></div>
          <div class="bom-labor-hours" *ngFor="let category of laborCategories" title="{{laborItem?.hours | number: '1.1-4'}}">{{hoursInCategory(laborItem, category) | number:
              '1.1-4'}}</div>
          <!--<div class="bom-labor-hours"></div>-->
          <div class="bom-labor-hours">{{laborItem?.hours | number: '1.1-4'}}</div>
          <div class="bom-labor-cost" title="{{laborItem?.cost | currency:'USD':'symbol'}}">{{ laborItem?.cost |
              currency:'USD':'symbol'}}</div>
          <div class="bom-material-cost"></div>
          <div class="bom-material-cost"></div>
          <div class="bom-total-cost"></div>
          <div class="bom-margin"></div>
          <div class="bom-total-price"></div>
      </div>
  </div>
  <bom-detail-view *ngFor="let bomChild of bomSummaryItem?.children" [laborCategories]="laborCategories" [bomSummaryItem]="bomChild" [bomDepth]="bomDepth + 1"></bom-detail-view>
</div>
