<div fxFlex fxFlexFill>
  <div fxLayout="column">
    <div class="header-row" fxLayout="row">
      <div class="bom-item">Item</div>
      <div class="bom-pn">Part Number</div>
      <div class="bom-desc">Description</div>
      <div class="bom-material">Material</div>
      <div class="bom-qty">Qty</div>
      <div *ngFor="let category of allLaborCategories" class="bom-labor-hours">{{category}} Hours</div>
      <div class="bom-labor-hours">Total Hours</div>
      <div class="bom-scrap">Scrap</div>
      <div class="bom-weight">Total Raw Weight</div>
      <div class="bom-weight">Total Weight</div>
      <div class="bom-cost-per-lb">Cost per LB</div>
      <div class="bom-total-cost">Cost</div>
      <div class="bom-margin">Margin</div>
      <div class="bom-total-price">Price</div>
    </div>
    <bom-summary-view class="root" [laborCategories]="allLaborCategories" [bomSummaryItem]="bomSummary" [bomDepth]="0" [firstLevelChildBomDepth]="getFirstLevelChildBomDepth()" [hideChildrenSubComponents]="useRowBom" >
    </bom-summary-view>
  </div>
</div>
