<div id="theme-wrapper" [ngClass]="themeClass">
	<rlr-header title="ADVANCE CONFIGURATOR" logoUrl="assets/images/logo.png"></rlr-header>
	<div fxFlex fxLayout="column">
	  <rlr-busy-indicator *ngIf="isBusy"></rlr-busy-indicator>
	  <router-outlet></router-outlet>
    </div>
</div>
