<div fxFlex fxFlexFill [ngSwitch]="part?.partType">
  <shippable-parts *ngSwitchCase="'ShippableParts'" [part]="part"></shippable-parts>
  <storage-system *ngSwitchCase="'StorageSystem'" [part]="part"></storage-system>
  <row *ngSwitchCase="'Row'" [part]="part"></row>
  <frame-upright *ngSwitchCase="'FrameUpright'" [part]="part"></frame-upright>
  <frame-upright-kit *ngSwitchCase="'FrameUprightKit'" [part]="part"></frame-upright-kit>
  <bays *ngSwitchCase="'Bays'" [part]="part"></bays>
  <bay *ngSwitchCase="'Bay'" [part]="part"></bay>
  <products *ngSwitchCase="'Products'" [part]="part"></products>
  <frame-lines *ngSwitchCase="'FrameLines'" [part]="part"></frame-lines>
  <selective-frame-line *ngSwitchCase="'SelectiveFrameLine'" [part]="part"></selective-frame-line>
  <frame-type *ngSwitchCase="'SelectiveFrameType'" [part]="part"></frame-type>
  <frame-type *ngSwitchCase="'DoubleDeepFrameType'" [part]="part"></frame-type>
  <frame-types *ngSwitchCase="'FrameTypes'" [part]="part"></frame-types>
  <elevations *ngSwitchCase="'Elevations'" [part]="part"></elevations>
  <shelf-load-beam *ngSwitchCase="'ShelfLoadBeam'" [part]="part"></shelf-load-beam>
  <frame-tie *ngSwitchCase="'FrameTie'" [part]="part"></frame-tie>
  <end-aisle-guard *ngSwitchCase="'EndAisleGuard'" [part]="part"></end-aisle-guard>
  <custom-part *ngSwitchCase="'CustomPart'" [part]="part"></custom-part>
  <buyout-part *ngSwitchCase="'BuyoutPart'" [part]="part"></buyout-part>
  <shelf-beam-crossbar *ngSwitchCase="'ShelfBeamCrossbar'" [part]="part"></shelf-beam-crossbar>
  <row-types *ngSwitchCase="'RowTypes'" [part]="part"></row-types>
  <post *ngSwitchCase="'UprightColumnAssembly'" [part]="part"></post>
  <!--<elevation *ngSwitchCase="'Elevation'" [part]="part"></elevation>-->
  <div *ngSwitchDefault >
    <div fxLayout="column" fxLayoutGap="50px">
      <div fxLayout="row wrap">
        <rlr-rule *ngFor="let rule of rules; trackBy: trackRule" [rule]="rule"></rlr-rule>
      </div>

      <div fxLayout="row" *ngIf="!readOnly">
        <button fxFlex="17" mat-raised-button *ngFor="let childType of part?.allowedChildTypes" color="primary" (click)="addChild(childType.code)">Add {{childType.name}}</button>
      </div>

      <div fxLayout="row" *ngIf="!readOnly">
        <button mat-raised-button *ngIf="part?.isAdhoc" (click)="copy()">Copy</button>
      </div>
    </div>
  </div>
</div>

