<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div fxLayout="row">
        <rlr-rule [rule]="part?.frameLineQty"></rlr-rule>
      </div>
      <div fxLayout="column">
          <span class="mat-title">Frame Lines</span>
          <div class="frame" fxLayout="row" *ngFor="let frame of frames" fxLayoutGap="50px" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxFlex="150px">
              <span class="mat-subheading-2">{{ frame.displayName }}</span>
            </div>
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="10px">
                <rlr-rule [rule]="frame?.frameName"></rlr-rule>
                <rlr-rule [rule]="frame?.frontFrameTypeName" ></rlr-rule>
                <rlr-rule *ngIf="frame?.isBackToBack.value" [rule]="frame?.rearFrameTypeName" ></rlr-rule>
                <rlr-rule [rule]="frame?.height"></rlr-rule>
                <rlr-rule [rule]="frame?.overallDepth"></rlr-rule>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
