<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of frame.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div id="tabs" fxLayout="row">
          <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
              <mat-tab label="Inputs">
                <div fxLayout="column">
                  <div fxLayout="row">
                    <rlr-rule [rule]="part?.uprightType"></rlr-rule>
                    <rlr-rule *ngIf="part?.slanted.value == true" [rule]="part?.slantElev"></rlr-rule>
                    <rlr-rule *ngIf="part?.slanted.value == true" [rule]="part?.slantInset"></rlr-rule>
                    <rlr-rule *ngIf="!part?.qty.readOnly" [rule]="part?.qty"></rlr-rule>
                    <rlr-rule *ngIf="!frame?.qty.readOnly" [rule]="frame?.color"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                    <rlr-rule [rule]="frame?.location"></rlr-rule>
                    <rlr-rule [rule]="frame?.height" [step]="4" required></rlr-rule>
                    <rlr-rule [rule]="frame?.depth"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                    <rlr-rule [rule]="frame?.uprightColumnSize"></rlr-rule>
                    <rlr-rule [rule]="frame?.panelQty"></rlr-rule>
                    <rlr-rule [rule]="frame?.footplateWidth"></rlr-rule>
                    <rlr-rule [rule]="frame?.footplateThickness"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                      <rlr-rule [rule]="frame?.frontAnchorQty"></rlr-rule>
                      <rlr-rule [rule]="frame?.frontAnchorSize"></rlr-rule>
                      <rlr-rule [rule]="frame?.frontAnchorType"></rlr-rule>
                      <rlr-rule *ngIf="!frame?.frontBullnoseAnchorType.readOnly" [rule]="frame?.frontBullnoseAnchorType"></rlr-rule>
                      <rlr-rule [rule]="frame?.frontPostProtector"></rlr-rule>
                      <rlr-rule *ngIf="frame?.frontPostProtector.value !== 'none'" [rule]="frame?.frontPostProtectorHeight"></rlr-rule>
                      <rlr-rule [rule]="frame?.hasFrontDoubler"></rlr-rule>
                      <rlr-rule *ngIf="frame?.hasFrontDoubler.value == true" [rule]="frame?.frontDoublerHeight" [step]="4"></rlr-rule>
                      <rlr-rule [rule]="frame?.frontFootPlateType"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                    <rlr-rule [rule]="frame?.rearAnchorQty"></rlr-rule>
                    <rlr-rule [rule]="frame?.rearAnchorSize"></rlr-rule>
                    <rlr-rule [rule]="frame?.rearAnchorType"></rlr-rule>
                    <rlr-rule *ngIf="!frame?.rearBullnoseAnchorType.readOnly" [rule]="frame?.rearBullnoseAnchorType"></rlr-rule>
                    <rlr-rule [rule]="frame?.rearPostProtector"></rlr-rule>
                    <rlr-rule *ngIf="frame?.rearPostProtector.value !== 'none'" [rule]="frame?.rearPostProtectorHeight"></rlr-rule>
                    <rlr-rule [rule]="frame?.hasRearDoubler"></rlr-rule>
                    <rlr-rule *ngIf="frame?.hasRearDoubler.value == true" [rule]="frame?.rearDoublerHeight" [step]="4"></rlr-rule>
                    <rlr-rule [rule]="frame?.rearFootPlateType"></rlr-rule>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Panels">
                  <div fxLayout="column">
                    <div fxLayout="row">
                      <rlr-rule [rule]="frame?.defaultHorizontalType"></rlr-rule>
                    </div>
                    <div fxLayout="column">
                        <span class="mat-title">Horizontal Braces</span>
                        <div class="brace" fxLayout="row" *ngFor="let brace of horizontalBraces" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                          <div fxLayout="row" fxFlex="50px">
                            <span class="mat-subheading-2">{{ getBraceDisplayName(brace.displayName) }}</span>
                          </div>
                          <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="brace?.angleType"></rlr-rule>
                              <rlr-rule [rule]="brace?.panelHeight"></rlr-rule>
                              <rlr-rule [rule]="brace?.offsetFromBottom"></rlr-rule>
                            </div>
                          </div>
                        </div>
                        <div class="brace" fxLayout="row" *ngFor="let hBrace of heavyHorizontalBraces" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                          <div fxLayout="row" fxFlex="50px">
                            <span class="mat-subheading-2">{{ getBraceDisplayName(hBrace.displayName) }}</span>
                          </div>
                          <div fxLayout="column" fxFlex>
                            <div fxLayout="row" fxLayoutGap="10px">
                              <rlr-rule [rule]="hBrace?.channelSize"></rlr-rule>
                              <rlr-rule [rule]="hBrace?.panelHeight"></rlr-rule>
                              <rlr-rule [rule]="hBrace?.offsetFromBottom"></rlr-rule>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </mat-tab>
              <mat-tab label="Diagonals">
                <div fxLayout="column">
                  <div fxLayout="row">
                    <rlr-rule [rule]="frame?.diagonalType"></rlr-rule>
                  </div>
                  <div fxLayout="column">
                      <span class="mat-title">Diagonal Braces</span>
                      <div class="brace" fxLayout="row" *ngFor="let brace of diagonalBraces" fxLayoutGap="50px" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxFlex="50px">
                          <span class="mat-subheading-2">{{ brace.displayName }}</span>
                        </div>
                        <div fxLayout="column" fxFlex>
                          <div fxLayout="row" fxLayoutGap="10px">
                            <rlr-rule [rule]="brace?.angleType"></rlr-rule>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</div>
