<div>
  <mat-divider></mat-divider>
  <h4>BOM Properties</h4>
    <div class="ruleRow" fxLayout="row">
        <div fxLayout="column">
            <div fxLayout="row" class="ruleRow" fxLayoutGap="10px">
                <rlr-rule [rule]="part?.bom.item" [labelText]="Item"></rlr-rule>
                <rlr-rule [rule]="part?.bom.description"></rlr-rule>
                <rlr-rule [rule]="part?.bom.materialCode"></rlr-rule>
                <rlr-rule [rule]="part?.bom.itemQty"></rlr-rule>
                <rlr-rule [rule]="part?.bom.unitCost"></rlr-rule>
                <rlr-rule [rule]="part?.bom.itemMarginPercent" *ngIf="part?.bom.lockedPrice.value" [labelText]="'Margin'"></rlr-rule>
                <rlr-rule [rule]="part?.bom.itemCalculatedMarginPercent" *ngIf="!part?.bom.lockedPrice.value" [labelText]="'Margin'"></rlr-rule>
                <rlr-rule [rule]="part?.bom.lockedPrice"></rlr-rule>
                <rlr-rule [rule]="part?.bom.unitPrice"></rlr-rule>
            </div>
        </div>
    </div>
    <div class="ruleRow" fxLayout="row">
      <div fxLayout="column">
          <div fxLayout="row" class="ruleRow" fxLayoutGap="10px">
              <rlr-rule [rule]="part?.bom.itemPurchasedPrice" ></rlr-rule>
              <rlr-rule [rule]="part?.bom.itemMaterialPrice" ></rlr-rule>
              <rlr-rule [rule]="part?.bom.itemPurchasedCostWithAddedCosts"></rlr-rule>
              <rlr-rule [rule]="part?.bom.itemMaterialCostWithAddedCosts"></rlr-rule>
          </div>
      </div>
  </div>
</div>
