#container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  height: 200px;
}

mat-select {
  flex-basis: 50%;
}

mat-dialog-actions  {
  display: flex;
  flex-direction: row;

  button {
    margin-left: 20px;
  }
}
