<div id="container" >
  <h1 mat-dialog-title>Add {{title}}</h1>
  <mat-form-field fxLayoutAlign="start end">
    <input matInput type="number" placeholder="Qty" [ngModel]="qty" (ngModelChange)="qty = $event"
       min="0" max="600">
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-raised-button (click)="this.addChildren(); dialogRef.close()" color="primary" >Add</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
