<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div id="tabs" fxLayout="row">
          <mat-tab-group fxFlex="100" (selectChange)='onSelectChange($event)'>
              <mat-tab label="Inputs">
                <div fxLayout="column">
                  <div fxLayout="row">
                    <!--<rlr-rule [rule]="part?.uprightType"></rlr-rule>-->
                    <rlr-rule *ngIf="part?.slanted.value == true" [rule]="part?.slantElev"></rlr-rule>
                    <rlr-rule *ngIf="part?.slanted.value == true" [rule]="part?.slantInset"></rlr-rule>
                    <rlr-rule *ngIf="!part?.qty.readOnly" [rule]="part?.qty"></rlr-rule>
                    <rlr-rule *ngIf="!part?.qty.readOnly" [rule]="part?.color"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                    <rlr-rule [rule]="part?.location"></rlr-rule>
                    <rlr-rule [rule]="part?.columnHeight" [step]="4" required></rlr-rule>
                  </div>
                  <div fxLayout="row">
                    <rlr-rule [rule]="part?.uprightColumnSize"></rlr-rule>
                    <rlr-rule [rule]="part?.footplateWidth"></rlr-rule>
                    <rlr-rule [rule]="part?.footplateThickness"></rlr-rule>
                  </div>
                  <div fxLayout="row">
                      <rlr-rule [rule]="part?.anchorQty"></rlr-rule>
                      <rlr-rule [rule]="part?.anchorSize"></rlr-rule>
                      <rlr-rule [rule]="part?.anchorType"></rlr-rule>
                      <rlr-rule *ngIf="!part?.bullNoseAnchorType.readOnly" [rule]="part?.bullNoseAnchorType"></rlr-rule>
                      <rlr-rule [rule]="part?.postProtectorType"></rlr-rule>
                      <rlr-rule *ngIf="part?.postProtectorType.value !== 'none'" [rule]="part?.postProtectorHeight"></rlr-rule>
                      <rlr-rule [rule]="part?.hasDoubler"></rlr-rule>
                      <rlr-rule *ngIf="part?.hasDoubler.value == true" [rule]="part?.doublerHeight" [step]="4"></rlr-rule>
                      <rlr-rule [rule]="part?.footPlateType"></rlr-rule>
                  </div>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</div>
