<div id="design-list">
  <div id="search" fxLayout="row" fxLayoutAlign="end">
    <input id="search-criteria" [formControl]="searchCriteria">
    <mat-icon matSuffix>search</mat-icon>
  </div>
  <div id="results-header" fxLayout="row">
    <div class="mat-title project-header">Estimate/Project #</div>
    <div class="mat-title project-header">Description</div>
    <div class="mat-title project-header">Customer</div>
    <div class="mat-title project-header">Location</div>
    <div class="mat-title project-header">Sales Person</div>
    <div class="mat-title project-header">Engineer</div>
    <div class="mat-title project-header">Revision</div>
    <div class="mat-title project-header">Created</div>
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list id="results">
    <mat-list-item *ngFor="let proj of projects" routerLink='/project/{{proj.id}}'>
      <div mat-line fxLayout="row">
        <div class="project-cell">{{ proj.drawingNumber }}</div>
        <div class="project-cell">{{ proj.name }}</div>
        <div class="project-cell">{{ proj.customerName }}</div>
        <div class="project-cell">{{ proj.jobsiteCity + proj.jobsiteState }}</div>
        <div class="project-cell">{{ proj.advancedSalesName }}</div>
        <div class="project-cell">{{ proj.seismicEngName }}</div>
        <div class="project-cell">{{ proj.revision }}</div>
        <div class="project-cell">{{ proj.createdDateTime | date:'mediumDate'}}</div>
      </div>

      <!-- menu opens when trigger button is clicked -->
      <button class="menu-button" mat-icon-button [mat-menu-trigger-for]="menu" (click)="$event.stopPropagation()">
        <mat-icon>settings</mat-icon>
      </button>

      <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item (click)="copyProject(proj.id)">
          <mat-icon> content_copy </mat-icon>
          <span> Copy </span>
        </button>
        <button mat-menu-item (click)="deleteProject(proj.id)">
          <mat-icon> delete </mat-icon>
          <span> Delete </span>
        </button>
        <button mat-menu-item (click)="createRevision(proj.id)">
          <mat-icon> add </mat-icon>
          <span> Create Revision </span>
        </button>
        <button mat-menu-item (click)="viewRevisions(proj.id)">
          <mat-icon> list </mat-icon>
          <span> View Revisions </span>
        </button>
      </mat-menu>
    </mat-list-item>
  </mat-nav-list>

  <div id="paging" fxLayout="row">
    <button mat-icon-button (click)="previousPage()" [disabled]="!allowPrevious">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <span class="mat-title">{{ startRecord }}-{{ endRecord }} of {{ totalCount }}</span>

    <button mat-icon-button (click)="nextPage()" [disabled]="!allowNext">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

<div id="add-project" fxLayout="row" fxLayoutAlign="center">
  <button mat-fab (click)="createProject()">
      <mat-icon class="mat-24">add</mat-icon>
  </button>
</div>
