@import '~@ruler/material/variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - #{$toolbar-height});
  align-items: center;
}

#search {
  margin: 0px;
}

#search-criteria {
  width: 350px;
  height: 15px;
}

#design-list {
  margin-top: 0px;
  width: calc(100vw - 60px);
}

#results {
  margin-top: 0px;
  /* using negative left margin due to not being able to get .md-list-item
  padding to take effect */
  margin-left: -16px;
  height: calc(100vh - 260px);
  overflow-y: auto;
}

#results mat-nav-list mat-list-item .mat-list-item {
  padding: 0;
}

.project-header {
  width: 215px;
  margin-bottom: 0;
}

.project-cell {
  width: 215px;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-button {
  color: #434343;
}

#paging span {
  margin: 0;
  padding-top: 10px;
}
