<div id="costSummary" fxLayout="column">
  <div class="display-text-main">
    <span class="text-align">Weld Hours: </span>
    <span class="text-align-right">{{showInfo() ? (getTotalLaborByCategory(bomSummary, 'Weld') * qtyFactor | number:'1.0-4') : na}}</span>
  </div>
  <div class="display-text-main">
    <span class="text-align">Cost:</span>
    <span class="text-align-right">{{showInfo() ? isLineItem ? (bomSummary.unitCost | currency) : (bomSummary.totalCost | currency) : na}}</span>
  </div>
  <div class="display-text-main" *ngIf="!showInfo()">
    <span class="text-align">Margin:</span>
    <span class="text-align-right">{{na}}</span>
  </div>
  <div class="editable-row" fxLayout="row">
    <cost-summary-rule *ngIf="showInfo() && !isMajorItem(part)" [rule]="part?.bom.margin" [labelText]="'Margin'" [suffix]="'%'"></cost-summary-rule>
    <div fxFlex="column"*ngIf="!showInfo() || isMajorItem(part)">
      <div fxFlex="row">
        <label class="text-align">{{part?.bom.margin.label}}: </label>
      </div>
      <div class="input-rule" fxFlex="row">
        <mat-form-field appearance="standard">
          <input currencyMask matInput #i [ngModel]="part?.bom.margin.value | number:'1.2'" (ngModelChange)="setBomMargins($event, i)"
          [ngModelOptions]="{ updateOn: 'blur' }" [options]="{align:'right', prefix:'', suffix:'%'}">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="display-text-main" >
    <span class="text-align">Price:</span>
    <span class="text-align-right">{{showInfo() ? isLineItem ? (bomSummary.unitPrice | currency) : (bomSummary.totalPrice | currency) : na}}</span>
  </div>
  <div fxLayout="row">

  </div>
</div>
