@import '../../bom-styles.scss';

cost-summary-rule {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

#costSummary{
  display: flex;
  margin-left:5px;
  margin-bottom:5px;
  height:200px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size:16px;
}

button {
  //margin-top: 5px;
  //margin-left: 0px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.editable-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.display-text-main {
  display: flex;
  justify-content: space-between;
}

.text-align, .text-align-right {
  display: flex;
  margin-bottom: 5px;
  margin-right: 15px;
}

.text-align-right {
  justify-content: flex-end;
}



mat-form-field {
  //margin-left: 5px;
  //margin-top: 10px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin-top: -1em;
  margin-bottom: -1em;
  //margin-right: -0.25em;
}

.input-rule {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container{
  min-width:40px;
}
