<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addFrameType(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div fxLayout="row">
        <rlr-rule [rule]="part?.frameTypeQty"></rlr-rule>
      </div>
      <div fxLayout="column">
          <span class="mat-title">Frame Types</span>
          <div class="frame" fxLayout="row" *ngFor="let type of frameTypes" fxLayoutGap="50px" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxFlex="150px">
              <span class="mat-subheading-2">{{ type.displayName }}</span>
            </div>
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="10px">
                <rlr-rule [rule]="type?.frameTypeName"></rlr-rule>
                <rlr-rule [rule]="type?.panelQty"></rlr-rule>
                <rlr-rule [rule]="type?.height"></rlr-rule>
                <rlr-rule [rule]="type?.overallDepth"></rlr-rule>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
