<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row" fxLayoutGap="25px" >
          <div fxLayout="col" fxFlex fxLayoutGap="10px">
            <button fxFlex="17" mat-raised-button *ngFor="let childType of part.allowedChildTypes" color="primary" (click)="addChild(childType.code)">{{childType.name}}</button>
          </div>
      </div>
      <div fxLayout="row">
        <rlr-rule [rule]="part?.bayQty"></rlr-rule>
      </div>
      <div fxLayout="column">
          <span class="mat-title">Bays</span>
          <div class="bay" fxLayout="row" *ngFor="let bay of bay" fxLayoutGap="50px" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxFlex="175px">
              <rlr-rule [rule]="bay?.bayName"></rlr-rule>
            </div>
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="10px">
                <rlr-rule [rule]="bay?.bayDrawingNumber"></rlr-rule>
                <rlr-rule [rule]="bay?.levelQty"></rlr-rule>
                <rlr-rule [rule]="bay?.loadsWide"></rlr-rule>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <rlr-rule [rule]="bay?.bayWidth"></rlr-rule>
                <rlr-rule [rule]="bay?.bayHeight"></rlr-rule>
                <rlr-rule [rule]="bay?.bayDepth"></rlr-rule>
                <rlr-rule [rule]="bay?.frontFrameDepth"></rlr-rule>
                <rlr-rule *ngIf="bay?.isDoubleDeep.value == true" [rule]="bay?.rearFrameDepth"></rlr-rule>
                <rlr-rule *ngIf="bay?.hasFrameTies.value == true" [rule]="bay?.frameTieLength"></rlr-rule>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                  <rlr-rule [rule]="bay?.isDoubleDeep"></rlr-rule>
                  <rlr-rule *ngIf="bay?.isDoubleDeep.value == true" [rule]="bay?.doubleDeepType"></rlr-rule>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
