<div fxFlex fxFlexFill>
  <div fxLayout="column" fxLayoutGap="25px">
      <div fxLayout="row">
        <div fxLayout="row">
          <rlr-rule [rule]="part?.elevationName"></rlr-rule>
          <rlr-rule [rule]="part?.includeInDrawing"></rlr-rule>
          <rlr-rule [rule]="frontFrame?.frameName"></rlr-rule>
          <rlr-rule [rule]="bay?.bayIds"></rlr-rule>
          <rlr-rule [rule]="rearFrame?.frameName"></rlr-rule>
        </div>
      </div>
  </div>
</div>
