<div *ngIf="rule" fxFlex="column">
  <div fxFlex="row">
    <label class="text-align">{{labelText}}: </label>
  </div>
  <div class="input-rule" fxFlex="row">
    <mat-form-field appearance="standard">
      <mat-label></mat-label>
      <input matInput #i *ngIf="formatCurrency" [ngModel]="rule.value | currency:'USD':'symbol':'2.2'" (ngModelChange)="setNumberValue($event, i)"
        [ngModelOptions]="{ updateOn: 'blur' }"  [disabled]="readOnly">
      <input matInput #i *ngIf="!formatCurrency" [ngModel]="rule.value | number: '1.1-3'" (ngModelChange)="setValue($event, i)"
        [ngModelOptions]="{ updateOn: 'blur' }" [type]="inputType" [step]="step" [disabled]="readOnly">
      <span matSuffix>{{suffix}}</span>
    </mat-form-field>
    <button mat-icon-button *ngIf="resetEnabled" (click)="reset(i)" title="Reset to default" tabindex="-1">
      <mat-icon>replay</mat-icon>
    </button>
  </div>
</div>
