
mat-form-field {
  //margin-left: 5px;
  //margin-top: 10px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin-top: -1em;
  margin-bottom: -1em;
  //margin-right: -0.25em;
}

.input-rule {
  display: flex;
  flex-direction: row;
  align-items: center;
}

//.text-align {
//  margin-top: 5px;
//}

