<!--<rlr-part-children-nav [part]="selectedPart" fxFlex></rlr-part-children-nav>-->
<div fxLayout="column" class="nav"  >
  <advance-part-children-nav [part]="selectedPart" fxFlex></advance-part-children-nav>

  <div class="cost-sum">
    <mat-divider ></mat-divider>
    <cost-summary [part]="isLineItem(selectedPart.lineItem.root) ? selectedPart.lineItem.root : selectedPart" [isLineItem]="isLineItem(selectedPart.lineItem.root)"></cost-summary>
  </div>

</div>

<div id="line-item-content" fxFlex fxLayout="column">
  <div id="line-item-top" fxFlex fxLayout="row" *ngIf="showGraphics && shouldShowGraphics()">
    <!--<rlr-schematic-viewer [part]="selectedPart" fxFlex></rlr-schematic-viewer>
    <rlr-graphics-viewer fxFlex="50" [part]="selectedPart"></rlr-graphics-viewer>-->
    <rlr-graphics-viewer fxFlex [part]="selectedPart"></rlr-graphics-viewer>
  </div>
  <part-properties [part]="selectedPart" fxFlex></part-properties>
</div>
