@import '~@ruler/material/variables';
@import '../../variables';
@import '../../theme.scss';

:host {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: calc(100vh - #{$toolbar-height * 2});
}

#line-item-content {
  width: calc(100vw - #{$left-nav-width});
}

#line-item-top {
  padding: 5px;
}

rlr-graphics-viewer {
  overflow: hidden;
}

mat-divider {
  margin-bottom: 5px;
  margin-top: 5px;
}

.cost-sum {
  margin-bottom: 0px;
  padding-bottom: 0px;
  bottom: 0;
}

.nav {
  background-color: mat-color($shell-primary, 100);
}


