<div fxLayout="column">
  <div fxLayout="row">
    <div class="bom-item" title="{{bomSummaryItem?.item}}">{{bomSummaryItem?.item}}</div>
    <div class="bom-pn" title="{{bomSummaryItem?.shortDescription}}">{{bomIndent +
          bomSummaryItem?.shortDescription}}</div>
      <div class="bom-desc" title="{{bomSummaryItem?.description}}">{{bomSummaryItem?.description}}</div>
      <div class="bom-material" title="{{bomSummaryItem?.materialPartNumber}}">{{bomSummaryItem?.materialPartNumber}}</div>
      <div class="bom-qty" title="{{bomSummaryItem?.qty}}">{{bomSummaryItem?.qty}}</div>
      <div class="bom-labor-hours" *ngFor="let category of laborCategories" title="{{getTotalLaborByCategory(bomSummaryItem, category) * bomSummaryItem?.qty }}">{{getTotalLaborByCategory(bomSummaryItem, category) * qtyFactor | number: '1.1-2'}}</div>
      <div class="bom-labor-hours" title="{{bomSummaryItem?.totalLaborHours }}">{{bomSummaryItem?.totalLaborHours | number: '1.1-2'}}</div>
      <div class="bom-scrap" title="Scrap Percentage">{{getScrapPercentage(bomSummaryItem?.itemMaterialQty, bomSummaryItem?.itemRawMaterialQty)}}</div>
      <div class="bom-weight" title="{{bomSummaryItem?.totalRawWeight }}">{{getRawWeight()}}</div>
      <div class="bom-weight" title="{{bomSummaryItem?.totalWeight }}">{{bomSummaryItem?.totalWeight | number: '1.1-3'}}</div>
      <div class="bom-cost-per-lb" title="{{bomSummaryItem?.costPerRawWeight | currency:'USD':'symbol'}}">{{bomSummaryItem?.costPerWeight
        | currency:'USD':'symbol'}}</div>
      <div class="bom-total-cost" title="{{bomSummaryItem?.totalCost}}">{{bomSummaryItem?.totalCost |
          currency:'USD':'symbol'}}</div>
      <div class="bom-margin" title="{{bomSummaryItem?.marginPercent}}">{{getUnitMargin(bomSummaryItem?.unitMargin)}}</div>
      <div class="bom-total-price" title="{{bomSummaryItem?.totalPrice | currency:'USD':'symbol'}}">{{getTotalPrice(bomSummaryItem?.totalPrice
        | currency:'USD':'symbol')}}</div>
  </div>
  <ng-container *ngIf="!(hideChildrenSubComponents && bomDepth >= firstLevelChildBomDepth)">
    <bom-summary-view *ngFor="let bomChild of bomSummaryItem?.children" [laborCategories]="laborCategories" [bomSummaryItem]="bomChild" [bomDepth]="bomDepth + 1" [firstLevelChildBomDepth]="firstLevelChildBomDepth" [hideChildrenSubComponents]="hideChildrenSubComponents"></bom-summary-view>
  </ng-container>
</div>
